.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;

  box-sizing: border-box;
  z-index: 1000;

  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.logo {
  color: #38bdf8;
  font-size: 28px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 25px;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 15px;
  }

  .logo {
    font-size: 24px;
  }
}